/* body {
    background-color: #011212;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
}
 */

:root {
    --back-color: #011212;
    --items-color: #ff8800;
    --units: 100px;
    --shape-item: 50px   
}

body {
    background-color: var(--back-color);
}

.ball {
    width: var(--units);
    height: var(--units);
    background-color: var(--items-color);
    border-radius: var(--shape-item);
}